{% extends 'base.html' %}

{% block body %}

{% if blog %}
    <div style="font-size: 0.9rem; color:#333;">
        <span>{{moment(blog.create_date).calendar()}} by {{blog.author.fname}} {{blog.author.lname}}</span>
        {% if blog.modifydate %}
            <span> | modified {{moment(blog.modifydate).calendar()}}</span>
        {% endif %}
    </div>
    <br>

    {% if blog.author == current_user %}
        <div>
            <a data-toggle="tooltip" data-placement="top" title="Delete Blog" href="/blog/delete/{{blog.id}}">
                <img width="25" src="/static/delete.png" alt="Delete Blog">
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Edit Blog" href="/blog/edit/{{blog.id}}">
                <img width="25" src="/static/edit.png" alt="Edit Blog">
            </a>
        </div>
    {% endif %}

    <h2 class="display-5" style="font-size: 1.75rem; color:#30436c; font-family: Georgia, 'Times New Roman', Times, serif;">{{blog.subject}}</h2>
    <p class="fs-4 text-break" style="font-size: 1rem; color: #444;">
        {% if blog.author.image %}
            <img width="100" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(blog.author.image.read())}}">
        {% endif %}
        {{blog.content}} 
        <br>
        <span style="font-style: italic; color: #999;">{{blog.tag}}</span>
    </p>
    <a href="/comment/new/{{blog.id}}" class="btn btn-primary btn-sm" role="button" style="font-size: 1rem;">New Comment</a>

    {% if comments %}
        <h3 class="display-6" style="font-size: 1.5rem; color:#4b4691;">Comments</h3>
        {% for comment in comments %}
            <div class="border-bottom py-2">
                <!-- Edit/Delete options for comments by the current user -->
                {% if current_user == comment.author %}
                    <a href="/comment/delete/{{comment.id}}" style="font-size: 1rem; color: #e74c3c;">
                        <img width="20" src="/static/delete.png" alt="Delete Comment">
                    </a>
                    <a href="/comment/edit/{{comment.id}}" style="font-size: 1rem; color: #3498db;">
                        <img width="20" src="/static/edit.png" alt="Edit Comment">
                    </a>
