{% extends 'base.html' %}

{% block body %}
<!-- Maps stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.css" />

<!-- Map container -->
<div id="map" style="height: 900px;"></div>

<!-- Leaflet JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.js"></script>

<script type="text/javascript">
    // Initialize map
    var map = L.map('map').setView([37.8323, -122.2576], 13);

    // Add OpenStreetMap tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Loop through clinics and add markers
    {% for clinic in clinics %}
        {% if clinic.lat and clinic.lon %}
            L.marker([{{ clinic.lat }}, {{ clinic.lon }}]).addTo(map)
            .bindPopup(`
                <strong>{{ clinic.name }}</strong><br>
                {{ clinic.streetAddress }}<br>
                {{ clinic.city }}, {{ clinic.state }} {{ clinic.zipcode }}<br>
                <em>{{ clinic.description }}</em><br>
                <strong>Availability:</strong> {{ clinic.availability }}<br>
                <strong>Quality:</strong> {{ clinic.quality }}<br>
                <strong>Capacity:</strong> {{ clinic.capacity }}<br>
                <strong>Schedule:</strong> {{ clinic.schedule }}<br>
                {% if clinic.image %}
                    <img src="data:image/jpeg;base64,{{ base64encode(clinic.image.read()) }}" width="100">
                {% endif %}
            `);
        {% endif %}
    {% endfor %}

    // Static markers for other fields
    L.marker([37.8323, -122.2576]).addTo(map).bindPopup(
    "<strong>Oakland Tech</strong>" 
).openPopup();

L.marker([37.7793, -122.2308]).addTo(map).bindPopup(
    "<strong>Cesar Chavez Field</strong><br>" +
    "<b>Schedule:</b> Hours: Monday-Friday 9:00 AM - 5:00 PM<br>" +
    "<b>Address: </b> Address: 29th Ave, Oakland, CA 94601 <br>" 
);

L.marker([37.7900, -122.3040]).addTo(map).bindPopup(
    "<strong>Alameda Point Soccer Field</strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 8:00 AM - 8:00 PM<br>" +
    "<b>Adress:</b> Lexington St, Alameda, CA 94501 <br>"
);
L.marker([37.7726, -122.3931]).addTo(map).bindPopup(
    "<strong>SFF Soccer - Mission Bay Field</strong><br>" +
    "<b>Schedule:</b> Hours: Opens 24 hours<br>" +
    "<b>Adress:</b> 701 Mission Bay Boulevard North, San Francisco, CA 94158<br>"
);

L.marker([37.779602956392786, -122.29214260649589]).addTo(map).bindPopup(
    "<strong>SFF Soccer - Main Street Field</strong><br>" +
    "<b>Schedule:</b> Hours: Opens 24 hours<br>" +
    "<b>Adress:</b> 2040 Main St, Alameda, CA 94501<br>"
);
L.marker([37.78282462782807, -122.30122469115]).addTo(map).bindPopup(
    "<strong>Sofive Soccer Centers Alameda</strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 8:00 AM - 1:00AM<br>" +
    "<b>Adress:</b> 800 W Tower Ave, Alameda, CA 94501<br>"
);
L.marker([37.877586792489, -122.30840661437269]).addTo(map).bindPopup(
    "<strong>Tom Bates Regional Sports Complex</strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 8:00 AM - 11:00PM<br>" +
    "<b>Adress:</b> 400-408 Gilman St, Berkeley, CA 94710<br>"
);
L.marker([37.78309607165369, -122.22895514829786]).addTo(map).bindPopup(
    "<strong>Oakland Soccer Club</strong><br>" +
    "<b>Schedule:</b> Hours: Opens 24 hours<br>" +
    "<b>Adress:</b> 2825 International Blvd, Oakland, CA 94602<br>"
);
L.marker([37.74930265586374, -122.16330208004608]).addTo(map).bindPopup(
    "<strong>Elmhurst Soccer Field</strong><br>" +
    "<b>Schedule:</b> N/A <br>" +
    "<b>Adress:</b> 9869 Plymouth St, Oakland, CA 94603<br>" 
);
L.marker([37.73406438459924, -122.2408003303026]).addTo(map).bindPopup(
    "<strong>Soccer Field</strong><br>" +
    "<b>Schedule:</b> Hours: Opens 24 hours <br>" +
    "<b>Adress:</b>Bay Farm Island, Alameda, CA 94502 <br>" 
);
L.marker([37.79308304800036, -122.51178541846905]).addTo(map).bindPopup(
    "<strong>Beach Chalet Athletic Fields</strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 5:00 AM - 12:00 AM <br>" +
    "<b>Adress:</b>1400-1598 John F Kennedy Dr, San Francisco, CA 94121<br>" 
);
L.marker([37.762690797995894, -122.50491896345716]).addTo(map).bindPopup(
    "<strong>South Sunset Soccer Fields/strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 6:00 AM - 10:00 AM <br>" +
    "<b>Adress:</b>San Francisco, CA 94116<br>" 
);
L.marker([38.58787970244649, -121.31574451254566]).addTo(map).bindPopup(
    "<strong>Mather Sports Center North Soccer Field</strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 10:00 AM - 8:00 PM <br>" +
    "<b>Adress:</b>3700 Schriever Ave, Mather, CA 95655<br>" 
);
L.marker([37.87701749964257, -122.2514635430702]).addTo(map).bindPopup(
    "<strong>Maxwell Family Field</strong><br>" +
    "<b>Schedule:</b> Hours: N/A <br>" +
    "<b>Adress:</b>2205 Piedmont Ave, Berkeley, CA 94704<br>" 
);
L.marker([37.857774335535936, -122.28339255887552]).addTo(map).bindPopup(
    "<strong>San Pablo Park</strong><br>" +
    "<b>Schedule:</b> Hours: Sunday-Friday 6:00 AM - 10:00 PM <br>" +
    "<b>Adress:</b>2800 Park St, Berkeley, CA 94702<br>" 
);
L.marker([37.644851688480394, -122.10711228268035]).addTo(map).bindPopup(
    "<strong>Alden E. Oliver Sports Park</strong><br>" +
    "<b>Schedule:</b> Hours: Opens 24 Hours <br>" +
    "<b>Adress:</b>2580 Eden Park Pl, Hayward, CA 94545<br>" 
);
L.marker([37.644851688480394, -122.09337937265654]).addTo(map).bindPopup(
    "<strong>Richard H. Sheridan Soccer Field</strong><br>" +
    "<b>Schedule:</b> Hours: N/A <br>" +
    "<b>Adress:</b>456 009700100, Hayward, CA 94545<br>" 
);
L.marker([37.71467857417502, -122.16111947809902]).addTo(map).bindPopup(
    "<strong>Burrell Field</strong><br>" +
    "<b>Schedule:</b> Hours: N/A <br>" +
    "<b>Adress:</b>San Leandro, CA 94577<br>" 
);
L.marker([37.7102, -122.4662]).addTo(map).bindPopup(
    "<strong>Crocker Amazon Soccer Fields</strong><br>" +
    "<b>Schedule:</b> Hours: Daily 6:00 AM - 10:00 PM<br>" +
    "<b>Address:</b> 799 Moscow St, San Francisco, CA 94112<br>" 
);

L.marker([37.8047, -122.2711]).addTo(map).bindPopup(
    "<strong>Laney College Soccer Field</strong><br>" +
    "<b>Schedule:</b> Hours: Daily 7:00 AM - 9:00 PM<br>" +
    "<b>Address:</b> 900 Fallon St, Oakland, CA 94607<br>" 
);
L.marker([37.7817, -122.2709]).addTo(map).bindPopup(
    "<strong>William Payne Field</strong><br>" +
    "<b>Schedule:</b> Hours: Daily 8:00 AM - 10:00 PM<br>" +
    "<b>Quality:</b> 4.5 stars rated<br>" +
    "<b>Address:</b> 4100 Foothill Blvd, Oakland, CA 94601<br>" 
);
L.marker([37.66618555008935, -122.10588200724013]).addTo(map).bindPopup(
    "<strong>Chabot Colllege Soccer Field</strong><br>" +
    "<b>Schedule:</b> Hours: Monday-Friday 7:00 AM - 10:00 PM<br>" +
    "<b>Address:</b> 25555 Hesperian Blvd, Hayward, CA 94545<br>" 
);

L.marker([37.43327554005227, -122.15807470251649]).addTo(map).bindPopup(
    "<strong>Maloney Field (Stanford</strong><br>" +
    "<b>Schedule:</b> Hours: Monday-Friday 7:00 AM - 10:00 PM<br>" +
    "<b>Address:</b> 641 Campus Dr, Stanford, CA 94305<br>" 
);
// Repeat similarly for the rest of the fields...

</script>
{% endblock %}
