{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Clinics</h1>
    </div>
    <div class="col">
        <a href="/clinic/new" class="btn btn-primary btn-sm mt-5" role="button">New Clinic</a>
    </div>
</div>

{% if clinics %}
    <div class="row border fw-bold">
        <div class="col-1 border">Actions</div>
        <div class="col-2 border">Date</div>
        <div class="col-2 border">Name</div>
        <div class="col-2 border">Address</div>
        <div class="col-2 border">Description</div>
        <div class="col-3 border">Lat / Lon</div>
    </div>

    {% for clinic in clinics %}
        <div class="row border">
            <div class="col-1 border">
                <a href="/clinic/delete/{{ clinic.id }}">
                    <img width="25" src="/static/delete.png" title="Delete Clinic">
                </a>
                <a href="/clinic/edit/{{ clinic.id }}">
                    <img width="25" src="/static/edit.png" title="Edit Clinic">
                </a>
            </div>
            <div class="col-2 border">
                <a href="/clinic/{{ clinic.id }}">
                    {{ moment(clinic.createdate).calendar() }}
                </a>
            </div>
            <div class="col-2 border">
                {{ clinic.name }}
            </div>
            <div class="col-2 border">
                {{ clinic.streetAddress }}<br>
                {{ clinic.city }}, {{ clinic.state }} {{ clinic.zipcode }}
            </div>
            <div class="col-2 border">
                {{ clinic.description }}
            </div>
            <div class="col-3 border">
                {{ clinic.lat }} / {{ clinic.lon }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Clinics</h1>
{% endif %}

{% endblock %}
