{% extends 'base.html' %}

{% block body %}
<div class="container m-5">
    <div class="row">
        <!-- Review Details -->
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: large; color:#995dd8">
            {% if review %}
                <div>
                    <p>{{ moment(review.create_date).calendar() }} by {{ review.author.fname }} {{ review.author.lname }}</p>
                    {% if review.modifydate %}
                        <p>Modified: {{ moment(review.modifydate).calendar() }}</p>
                    {% endif %}
                    <br>
                    
                    {% if review.author == current_user %}
                        <a data-toggle="tooltip" data-placement="top" title="Edit Review" href="/review/edit/{{ review.id }}">
                            <img width="40" class="bottom-image" src="/static/edit.png">
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Delete Review" href="/review/delete/{{ review.id }}">
                            <img width="40" class="bottom-image" src="/static/delete.png">
                        </a>
                    {% endif %}
                    <br>
                    
                    <h1 class="display-5 review-title">{{ review.name }}</h1>
                    <h2 class="display-5 review-experience">Experience: {{ review.subject }}</h2>
                    <h3 class="display-5 review-rating">Rating 0-10: {{ review.rating }}</h3>
                    <p class="review-text">{{ review.text }}</p>
                    
                    <a href="/reply/newRev/{{ review.id }}" class="btn btn-primary btn-sm reply-btn" role="button">
                        Reply
                    </a>
                    <br><br>

                    <!-- Display Replies -->
                    {% set data = namespace(l_bool=false) %}
                    {% set list = namespace(replyList=replies|list) %}

                    {% if list.replyList|length != 0 %}
                        <h2 class="display-5 replies-heading">Replies</h2>
                        
                        {% for number in range(1, 1000) if data.l_bool == false %}
                            {% set reply = list.replyList.pop(0) %}
                            {% set marg = [] %}
                            {% set border = namespace(txt='') %}

                            {% if reply.outer != True %}
                                {% set border.txt = "1px solid white" %}
                                {% for i in range(reply.dFromOuter|int) %}
                                    <div hidden="true">{{ marg.append(1) }}</div>
                                {% endfor %}
                            {% endif %}

                            <div style="margin-left: {{ marg|length * 50 }}px;">
                                {% if current_user == reply.author %}
                                    <a href="/reply/delete/{{ reply.id }}">
                                        <img width="20" src="/static/delete.png">
                                    </a>
                                    <a href="/reply/edit/{{ reply.id }}">
                                        <img width="20" src="/static/edit.png">
                                    </a>
                                {% endif %}

                                <p>{{ reply.author.fname }} {{ reply.author.lname }}, {{ current_user.role }}: 
                                    {{ moment(reply.create_date).calendar() }}
                                    {% if reply.modify_date %}
                                        (modified {{ moment(reply.modify_date).calendar() }})
                                    {% endif %}
                                </p>

                                <p class="reply-text">{{ reply.text }}</p>

                                {% if reply.replies is not none %}
                                    {% for innerReply in reply.replies|reverse %}
                                        <p hidden="true">{{ list.replyList.insert(0, innerReply) }}</p>
                                    {% endfor %}
                                {% endif %}

                                <a href="/reply/newRep/{{ review.id }}/{{ reply.id }}" class="btn btn-primary btn-sm reply-btn" role="button">
                                    Reply
                                </a>
                                <br>
                            </div>

                            {% if list.replyList|length == 0 %}
                                {% set data.l_bool = true %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h2 class="display-5 no-replies">No Replies</h2>
                    {% endif %}
                </div>
            {% else %}
                <p>No review found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
